#root {
  
  margin: 0;
  padding: 0;
  text-align: center;
}


.logo {
  height: 12em;
  padding: 1.2em;
  will-change: filter;
  transition: filter 300ms;
  position: absolute;
  top: 0;
  left: 0;
 }

 @media (max-width: 768px) {
  .logo {
    align-items: center;
    position: absolute;
    top:5%;
  left: 50%;
  transform: translate(-50%, -50%);
    
  }
}

.logo:hover {
  filter: drop-shadow(0 0 2em #646cffaa);
}

.glow {
  filter: drop-shadow(0 0 2em #646cffaa);
}

.glow.react {
  filter: drop-shadow(0 0 2em #61dafbaa);
}

.custom-container {

  height: 100vh;
  width:100%;  
  
}

.carousel {
  max-height: 100vh;
  width: 100%; /* Ensure it doesn't overflow */
  overflow: hidden; /* Hide any overflowing content */
}

.carousel-item {
  transition-duration: 1.5s;
}


.transform {
  transition: 1s ease-in;
  opacity: 90%;
}

.carousel-fade{
  transition-duration:  1.5s;
  opacity: 100%;
}

.carousel-img {
  width: 100%;
  height: 400px;
  object-fit: contain; /* Maintain aspect ratio without distortion */
  object-position: center; /* Position the image within the container */
  display: flex;
  justify-content: center;
  align-items: center;
}

.carousel-touch {
 
  width: 100%;
  height: 800px;
  object-fit: contain; /* Maintain aspect ratio without distortion */
  object-position: center; /* Position the image within the container */
  display: flex;
  justify-content: center;
  align-items: center;
  
}


.main-zone, .touch-zone {
  height: 100vh;
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  margin: 0;
  padding: 0;
}


/* Mobile-first approach */
/* ... (other styles) */

/* For smaller screens */
@media (max-width: 768px) {
  .main-zone .d-flex {
    align-items: center;
    justify-content: center;
    height: 100vh;
    display: flex;
  }

  .main-zone .carousel {
    display: flex;
    align-items: center;
    justify-content: center;
    height: 100vh;
  }

}


/* In your CSS file or style section */
.carousel-control-prev,
.carousel-control-next {
  display: none;
}

/* Pink background */
.pink {
  background-color: pink;
}

/* Black (night mode) background */
.black {
  background-color: black;
}


/* For previous and next buttons */


/* Media query for smaller screens */
@media (max-width: 768px) {
  .previousnext {
    z-index: 1000;
    bottom: 1em !important;
    position: absolute;
    align-items: center;
    justify-content: center;
    
  }
}

.texte{
  font-family: 'airland';
  color: violet;
  display: flex !important;
  bottom: 3em !important;
  position: absolute;
}

/* Custom button styles */
.custom-btn {
  /* Reset Bootstrap button styles */
  
  padding: 1em;
  margin: 0;
  cursor: pointer;
  bottom: 5em !important;
  
  background-color: transparent;
  
  /* Add additional styling as needed for positioning, size, etc. */
}

.custom-btn:hover {
  border: transparent;
}

@media (max-width: 768px) {
  .custom-btn {
    padding: 2em;
    
  }
}

.arrows {
  size:1em;
}