body {
    margin: 0;
  }
  
  .App {
    font-family: sans-serif;
  }
  
  /* curtains canvas */
  
  .curtains-canvas {
    position: fixed;
    top: 0;
    left: 0;
    width: 100vw;
    height: 100vh;
    z-index: 1;
    pointer-events: none;
  }
  
  .container {
  }
  
  .persona_section {
    padding: 200px 0;
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    color: #121515;
  }
  
  .persona_section img {
  }
  
  .persona_section h2 {
    font-size: 3rem;
    margin: 0;
    line-height: 110%;
  }
  
  .persona_section p {
    margin: 0.75rem 0 0 0;
    font-size: 1.25rem;
    line-height: 140%;
  }
  
  .persona_section button {
    text-decoration: none;
    border: 1px solid;
    border-radius: 1.5rem 0.25rem;
    display: flex;
    align-items: center;
    padding: 11px 16px;
    white-space: nowrap;
    font-size: 1rem;
    line-height: 1rem;
    margin-top: 1.5rem;
  }
  
  .persona_section svg {
    width: 1.25rem;
    margin-left: 0.5rem;
  }
  